<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>vehicle_insurance_system</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Contact-FormModal-Contact-Form-with-Google-Map.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-Dark.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark shadow-lg py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" th:href="@{/home}"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-car">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="7" cy="17" r="2"></circle>
                        <circle cx="17" cy="17" r="2"></circle>
                        <path d="M5 17h-2v-6l2-5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
                    </svg></span><span>Seguros Pepin</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
<!--                    <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact Us</a></li>-->
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" th:href="@{/account}">Your Account</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Your Account</h3>
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Insurance Information</p>
            </div>
            <div class="card-body">
                <form>
                    <div class="row" style="margin-bottom: 25px;text-align: left;">
                        <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 col-xxl-2" style="display: inline;text-align: center;margin-bottom: 25px;"><img class="rounded-circle mb-3 mt-4 img-fluid" src="/assets/img/dogs/blank-profile-photo.jpeg" style="display: inline;max-height: 110px;"><br></div>
                        <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10 col-xxl-10 align-self-center">
                            <div class="row">
                                <div class="col-md-12 text-start">
                                    <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label>
                                        <p th:text="${curr_account.username}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <p id="emailErrorMsg" class="text-danger" style="display:none;"></p>
                            <p id="passwordErrorMsg" class="text-danger" style="display:none;"></p>
                        </div>
                    </div>
                </form>
                
                <h4>Registered Vehicles:</h4>

                <div th:if="${!vehiclesExists}">
                  <b><p th:text="${logger.errorMessage}" /></b>
                </div>

                <div class="table-responsive" th:if="${vehiclesExists}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Vehicle Number</th>
                                <th>Vehicle Type</th>
                                <th>Vehicle Model</th>
                                <th>Registered City</th>
                                <th>Insurance Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="vehicle : ${vehicles}">
                                <td th:text="${vehicle.vehicleNumber}"></td>
                                <td th:text="${vehicle.vehicleType}"></td>
                                <td th:text="${vehicle.vehicleModel}"></td>
                                <td th:text="${vehicle.registeredCity}"></td>
                                <td th:text="${vehicle.insuranceStatus}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <h4>Insurance Policies:</h4>
                
                <div th:if="${!policiesExists}">
                  <b><p th:text="${logger.secondaryErrorMessage}" /></b>
                </div>

                <div class="table-responsive" th:if="${policiesExists}">
                    <table class="table">
                      <thead>
                          <tr>
                              <th>Vehicle Number</th>
                              <th>Insurance Policy</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr th:each="policy : ${policies}">
                              <td th:text="${policy.vehicleNumber}"></td>
                              <td th:text="${policy.insurancePolicy}"></td>
                          </tr>
                      </tbody>
                    </table>
                </div>

                
                <h4>Actions:</h4>
                <div class="row">
                    <div class="col" style="margin-bottom: 10px;"><a class="btn btn-primary" role="button" th:href="@{/account/register_vehicle}">Register a vehicle</a></div>
                </div>
                <div class="row">
                    <div class="col" style="margin-bottom: 10px;"><a class="btn btn-primary" role="button" style="background: rgb(14,149,60);" th:href="@{/account/register_policy}">Apply for an insurance policy</a></div>
                </div>
                <div class="row">
                    <div class="col" style="margin-bottom: 10px;"><a class="btn btn-primary" role="button" style="background: rgb(255,61,61);" th:href="@{/account/removal}">Remove a vehicle and all policies associated with it</a></div>
                </div>
                <div class="row">
                    <div class="col" style="margin-bottom: 10px;"><a class="btn btn-primary" role="button" style="background: rgb(143,0,255);color: rgb(255,255,255);" th:href="@{/account}">Go back to the user information page</a></div>
                </div>
                <div class="row" th:if="${isAdmin}">
                    <div class="col" style="margin-bottom: 10px;"><a class="btn btn-primary" role="button" style="background: var(--bs-red);" th:href="@{/admin}">Admin Center</a></div>
                </div>
                <div class="row">
                    <div class="col">
                        <form action="#" th:action="@{/account/insurance}" method="post">
                            <button class="btn btn-primary" type="submit" style="background: var(--bs-gray-200);color: rgb(0,0,0);">Log Out</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" th:href="@{/account}">Your Account</a></li>
                <li class="list-inline-item me-4"></li>
<!--                <li class="list-inline-item"><a class="link-light" th:href="@{/contact}">Contact Us</a></li>-->
            </ul>
            <p class="text-muted mb-0">Copyright © 2023 Smaylin Robles</p>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/Contact-FormModal-Contact-Form-with-Google-Map.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
</body>

</html>