<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>vehicle_insurance_system</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Contact-FormModal-Contact-Form-with-Google-Map.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-Dark.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark shadow-lg py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" th:href="@{home}"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-car">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="7" cy="17" r="2"></circle>
                        <circle cx="17" cy="17" r="2"></circle>
                        <path d="M5 17h-2v-6l2-5h9l4 5h1a2 2 0 0 1 2 2v4h-2m-4 0h-6m-6 -6h15m-6 0v-5"></path>
                    </svg></span><span>Srikanth's Vehicle Insurance</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{contact}">Contact Us</a></li>
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" th:href="@{account}">Your Account</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Your Account</h3>
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Admin Centre</p>
            </div>
            <div class="card-body">
                <div class ="errorMessage"><b><p th:text="${logger.errorMessage}" /></b></div>
                <form th:action="@{admin}" th:object="${user_entered}" method="post"><label class="form-label">Enter username to get details of user:</label><input class="form-control" type="text" th:field="*{username}" required=""><button class="btn btn-primary" type="submit" style="margin-top: 18px;margin-bottom: 22px;">Find User</button></form>
                
                <div th:if="${userDetailsToggle}">
                    <p class="fs-5 fw-bold" style="margin-top: -6px;">User's Details:</p>
                </div>
                
                <div class="row" style="margin-bottom: 25px;text-align: left;" th:if="${userDetailsToggle}">
                    <div class="col-md-6">
                        <div class="mb-3"><label class="form-label" for="first_name"><strong>First Name</strong></label>
                            <p th:text="${userData.firstName}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Last Name</strong></label>
                            <p th:text="${userData.lastName}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3"><label class="form-label" for="address"><strong>Address</strong></label>
                            <p th:text="${userData.address}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3"><label class="form-label" for="city"><strong>City</strong></label>
                            <p th:text="${userData.city}" />
                        </div>
                    </div>
                    <div class="col">
                        <p id="emailErrorMsg-1" class="text-danger" style="display:none;"></p>
                        <p id="passwordErrorMsg-1" class="text-danger" style="display:none;"></p>
                    </div>
                </div>

                <div th:if="${userDetailsToggle}">
                    <p class="fs-5 fw-bold" style="margin-top: -6px;">User's Registered Vehicles:</p>
                    <div th:if="${!vehiclesExists}">
                        <b><p th:text="${logger.secondaryErrorMessage}" /></b>
                    </div>
                </div>

                <div class="table-responsive" th:if="${userDetailsToggle}">
                    <table class="table" th:if="${vehiclesExists}">
                        <thead>
                            <tr>
                                <th>Vehicle Number</th>
                                <th>Vehicle Type</th>
                                <th>Vehicle Model</th>
                                <th>Registered City</th>
                                <th>Insurance Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="vehicle : ${vehicles}">
                                <td th:text="${vehicle.vehicleNumber}"></td>
                                <td th:text="${vehicle.vehicleType}"></td>
                                <td th:text="${vehicle.vehicleModel}"></td>
                                <td th:text="${vehicle.registeredCity}"></td>
                                <td th:text="${vehicle.insuranceStatus}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div th:if="${userDetailsToggle}">
                    <p class="fs-5 fw-bold">User's Insurance Policies:</p>
                    <div th:if="${!policiesExists}">
                        <b><p th:text="${logger.tertiaryErrorMessage}" /></b>
                    </div>
                </div>

                <div class="table-responsive" th:if="${userDetailsToggle}">
                    <table class="table" th:if="${policiesExists}">
                        <thead>
                            <tr>
                                <th>Vehicle Number</th>
                                <th>Insurance Policy</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="policy : ${policies}">
                                <td th:text="${policy.vehicleNumber}"></td>
                                <td th:text="${policy.insurancePolicy}"></td>
                            </tr>
                        </tbody>
                      </table>
                </div>

                <h4>Actions:</h4>
                <div class="row">
                    <div class="col" style="margin-bottom: 10px;"><a class="btn btn-primary" role="button" style="background: rgb(143,0,255);color: rgb(255,255,255);" a th:href="@{account}">Go back to the user information page</a></div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><a class="link-light" th:href="@{account}">Your Account</a></li>
                <li class="list-inline-item me-4"></li>
                <li class="list-inline-item"><a class="link-light" th:href="@{contact}">Contact Us</a></li>
            </ul>
            <p class="text-muted mb-0">Copyright © 2022 Srikanth's Vehicle Insurance</p>
        </div>
    </footer>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/Contact-FormModal-Contact-Form-with-Google-Map.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
</body>

</html>